@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
*{
    margin: 0; 
    padding: 0;

}
html{
    scroll-behavior: smooth;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width:  33%;
    border: 3px snow ;
    border-radius: 50px;
}
.navbar{
     display: flex;
     align-items: center;
     justify-content: center;
     position: sticky;
     top: 0;
    cursor: pointer;
}
.nav-list{
    width: 70%;
   
    display: flex;
    justify-content: center;
    

}
.nav-list li{
    list-style:none ;
    padding: 26px 30px;
}
.nav-list li a{
text-decoration: none ;
color: whitesmoke;
font-size: 20px;
font-family: 'ubuntu',sans-serif; 
}
.nav-list li a:hover{
    text-decoration: none ;
    color: gold;
    }
.rightnav{
    padding: 0 23px;
    width: 30%;
    text-align: right;
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px sienna;
    border-radius: 9px;
}
.background{
    background: rgba(0, 0, 0, 0.7) url('../image/img1.jpg');

    background-size: cover;
    background-blend-mode: darken;
}
.firstsection{
    height: 100vh;

}
.box-main{
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 75%m
}
.firstHalf{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.secondHalf{
    width: 30%;

    
}
.secondHalf img{
    width: 200%;
    border: 4px snow;
    border-radius: 30px;
    display: block;
    margin: auto;
    
}
.text-big{
    font-size: 41px;
    text-align: left;
}
.text-small{
    font-size: 19px;
}
.btn{
    padding: 8px 20px;
    margin: 8px 5px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    font-size: 13px;
    background: none;
    color:whitesmoke;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
.btn-sm{
    padding: 6px 13px;
    font-size: 16px;

    vertical-align: middle;
     
}
.btn-dark{
    color: black;
    border:2px solid grey;
    font-size: 15px;
    
 
}
.section{
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 90%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
}
.section-left{
    flex-direction: row-reverse;
}
.paras{
    padding: 0 42px;
}
.sectionTag{
    padding: 11px 0px;
}
.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.thumbnail img{
    border: 2px solid;
    width: 250px;
    border-radius: 137px;
    margin-top: 7px;
}
.contact{
    background-color: #e2e2e2;
    height: 700px;
}
.text-centre{
    text-align: center;
    padding: 30px;
    padding-top: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 34px;
}
.form{
    max-width: 400px;
    margin:20px auto ;
}
.form-input{
    margin: 10px 0;
    padding: 12px 8px;
    width: 108%;
    /* padding: 4px; */
    font-size: 19px;
    border: 11px salmon;
    border-radius: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text-fotter{
    text-align: center;
    padding: 30px 0;
    color: whitesmoke;

    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
}


